/* tablet 1000px */
@media (max-width: 1000px) {
  .container {
    padding: 0;
  }
  .container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    height: 1px;
    background-color: #ebedee;
    z-index: 1001;
  }
  body.lock {
    overflow: hidden;
  }
  .view .header {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 40px 60px;
        grid-template-rows: 40px 60px;
        grid-template-areas: "nav nav nav nav nav nav nav nav connect connect connect connect connect connect connect connect connect" "contentNav searchField . logo logo logo logo logo logo logo logo logo logo logo personality personality personality";
    margin: 0;
    max-width: 100%;
    z-index: 1000;
    background: #fff !important;
  }
  .view .header__nav {
    padding: 0 0 0 18px;
  }
  .view .header__nav-item:last-child {
    display: none;
  }
  .view .header__connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
  }
  .view .header__connect-contact {
    font-size: 16px;
    line-height: 40px;
  }
  .view .header__connect-btn {
    width: 180px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    font-size: 16px;
    border-radius: 0;
  }
  .view .header__content-nav {
    border: none;
    width: 60px;
    /* Burger menu */
  }
  .view .header__content-nav-list {
    position: fixed;
    background: #fff;
    padding: 110px 25px 15px 25px;
    display: block;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
  .view .header__content-nav .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    border-right: 1px solid #ebedee;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .view .header__content-nav .burger::before {
    content: url("../../images/burger/burgMenu.svg");
  }
  .view .header__content-nav .burger.active::before {
    content: url("../../images/burger/burgCross.svg");
  }
  .view .header__content-nav-list.active {
    left: 0;
  }
  .view .header__content-nav-item {
    display: block;
    border-radius: 5px;
    border: 3px solid #ff3801;
    margin-top: 5px;
    background: #fbab95;
    -webkit-box-shadow: 0 0 15px #fbab95;
            box-shadow: 0 0 15px #fbab95;
    line-height: 35px;
  }
  .view .header__search-field {
    -ms-grid-column-align: start;
        justify-self: start;
    width: 60px;
    height: 60px;
    border-right: 1px solid #ebedee;
  }
  .view .header__search-field::before {
    content: url("../../images/magnifying-glass-orange.png");
    top: 18.5px;
    left: 19.5px;
  }
  .view .header__search-field-inner {
    display: none;
  }
  .view .header__logo {
    width: 171px;
  }
  .view .header__personality {
    line-height: 0px;
  }
  .view .header__personality .personality__log-in {
    font-size: 0;
    width: 60px;
    height: 60px;
    padding-left: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .view .header__personality .personality__log-in:before {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    top: 22.5px;
    left: 21.5px;
  }
  .view .header__personality .personality__favorites {
    font-size: 0;
    width: 60px;
    height: 60px;
    padding-left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .view .header__personality .personality__favorites:before {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    top: 22.5px;
    left: 21.5px;
  }
  .view .header__personality .personality__basket {
    font-size: 0;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-left: 1px solid #ebedee;
    border-top: 1px solid #ebedee;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .view .header__personality .personality__basket:before {
    content: url("../../images/basket-orange.png");
    margin: 0;
  }
  .view .title__wrap {
    margin: 45px 19px 0 0;
  }
  .view .slider .path {
    display: none;
  }
  .view .slider__wrapper .slider-small .slick-list {
    margin: 0 0 2px 0;
  }
  .view .slider__wrapper .slider-big {
    max-width: 400px;
    margin: 35px 20px 0 20px;
  }
  .view .about {
    margin: 20px 19px 0 0;
    -ms-grid-rows: 66px 98px 1fr;
        grid-template-rows: 66px 98px 1fr;
        grid-template-areas: "top top top top socials socials ." "order order order order advantages advantages advantages" "info info info info info info info";
  }
  .view .about__recalls {
    margin: 3px 3px 0 20%;
  }
  .view .about__socials {
    margin: 10px 5px 0 0;
  }
  .view .about__sizes {
    display: none;
    grid-area: unset;
  }
  .view .about__order {
    margin: 6px 0 33px 0;
  }
  .view .about__advantages {
    margin: 5px 0 0 19%;
  }
  .view .about__info {
    margin: 5px 0 0 0;
  }
}

/* tablet 900px */
@media (max-width: 900px) {
  .container::before {
    position: fixed;
  }
  .container::after {
    position: fixed;
  }
  .view .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
        grid-template-areas: "connect connect connect connect connect connect connect connect connect connect connect connect connect connect connect connect connect" "contentNav searchField . logo logo logo logo logo logo logo logo logo logo logo personality personality personality";
  }
  .view .header__nav {
    grid-area: unset;
  }
  .view .header__nav-item {
    display: none;
  }
  .view .header__connect {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .view .header__connect-contacts {
    margin: 0 0 0 18px;
  }
  .view .title {
    margin: 100px 0 0 0;
  }
  .view .slider {
    margin: 100px 0 0 0;
  }
  .view .about {
        grid-template-areas: "top top top top top socials socials" "order order order order advantages advantages advantages" "info info info info info info info";
  }
  .view .about__recalls {
    margin: 3px 19px 0 20%;
  }
  .view .about__advantages {
    margin: 5px 0 0 10%;
  }
}

/* tablet 768px */
@media (max-width: 768px) {
  .view {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "first" "second" "third" "fourth";
  }
  .view .header {
        grid-template-areas: "connect connect connect connect connect connect connect connect connect connect connect connect connect connect connect connect connect" "contentNav contentNav . logo logo logo logo logo logo logo logo logo logo logo personality personality personality";
  }
  .view .header__connect-btn {
    width: 160px;
  }
  .view .header__search-field {
    grid-area: unset;
    display: none;
  }
  .view .header__personality .personality__log-in {
    grid-area: unset;
    display: none;
  }
  .view .header__personality .personality__favorites {
    grid-area: unset;
    display: none;
  }
  .view .title__wrap {
    margin: 28px 19px 0 18px;
    max-width: 100%;
  }
  .view .slider {
    margin: 0;
  }
  .view .slider__wrapper .slider-big {
    max-width: 100%;
  }
  .view .about {
    margin: 0 19px;
    -ms-grid-columns: 52% 48%;
        grid-template-columns: 52% 48%;
    -ms-grid-rows: 56px 97px 1fr 101px;
        grid-template-rows: 56px 97px 1fr 101px;
        grid-template-areas: "top top" "order order" "info info" "advantages socials";
  }
  .view .about__top {
    margin: 0;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .view .about__recalls {
    margin: 0;
  }
  .view .about__order-buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .view .about__order-info {
    margin: 21px 0 0 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .view .about__order-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.6px;
  }
  .view .about__order-btn::after {
    position: absolute;
    right: 0;
    bottom: -34px;
  }
  .view .about__info-rolling-up {
    margin: 15px 0 27px 0;
  }
  .view .about__advantages {
    margin: 0;
  }
}

/* mobile phone 425px */
@media (max-width: 426px) {
  /* 425.6????? */
  .container::after {
    top: 30px;
  }
  .container::before {
    top: 80px;
  }
  .view .header {
    -ms-grid-rows: 30px 50px;
        grid-template-rows: 30px 50px;
        grid-template-areas: "connect connect connect connect connect connect connect connect connect connect connect connect connect connect connect connect connect" "contentNav contentNav . logo logo logo logo logo logo logo logo logo logo logo personality personality personality";
  }
  .view .header__connect-contacts {
    margin: 0 0 0 13px;
  }
  .view .header__connect-contact {
    font-size: 14px;
    line-height: 30px;
  }
  .view .header__connect-btn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
  .view .header__connect .rus {
    display: none;
  }
  .view .header__connect .eng {
    display: block;
  }
  .view .header__logo {
    width: 142px;
  }
  .view .header__personality .personality__basket {
    width: 50px;
    height: 50px;
  }
  .view .header__content-nav {
    width: 50px;
  }
  .view .title {
    margin: 80px 0 0 0;
  }
  .view .slider-small {
    display: none;
  }
  .view .slider-big {
    margin: 14px 20px;
  }
}
/*# sourceMappingURL=adoptive.css.map */